ConsultorioRemake/Consultorio/consultorioWeb/Service References/ServicioFarmacias/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="isMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedicamento" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isMedicamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantidadMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantidadMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantidadMedicamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantidadMedicamento2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedicamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cantidadMedicamento2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantidadMedicamento2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>